@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar to prevent layout shift when toggling device */
::-webkit-scrollbar {
  display: none;
}

:focus-visible {
  outline: 2px solid white;
}

/* Helper classes */
.border-funky {
  position: relative;
  border-radius: 9999px;
}

.border-funky::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: -1;
  background-image: linear-gradient(90deg, #ff00a8 0%, #00e0ff 100%);
  border-radius: 9999px;
}
